# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Pytest
.pytest_cache/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# environment variables
.env

# Test coverage
.coverage
htmlcov/
coverage.xml

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# Build / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# OS artifacts
Thumbs.db